<!DOCTYPE html>
<html lang="es" ng-app="MyFirstApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera app con angularjs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="FirstController">
    <h1>{{"Hola "+ nombre}}</h1>
    <input type="text" ng-model="nuevoComentario.comentario">
    <br>
    <input type="text" ng-model="nuevoComentario.userName">
    <br>
    <button ng-click="AgregarComentario()">Agregar comentario</button>
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comentario in Comentarios">
            {{comentario.comentario}} - <strong>
                {{comentario.userName}}
            </strong>
        </li>
    </ul>
</body>

</html>